/* Name, Date */

   body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   /* solid color backround */
   background:red;
   background: linear-gradient(20deg, blue 0%,orangered 35%,powderblue 90%);
   }